<!-- -->
<launch>
    <arg name="robot_name" default="robot"/>
    <arg name="init_pose" default="-x 0 -y 0 -z 0"/>

 
    <node name="myrobot" pkg="gazebo_ros" type="spawn_model"
    	args="$(arg init_pose)
				-urdf
				-param /robot_description
				-model $(arg robot_name)
				-robot_namespace $(arg robot_name)"
     	respawn="false"
			output="screen" />
 




</launch>
